/*styling for meals*/
.meal {
  padding: 0 10px 10px 5px;
}
.meal-breakfast {
  background-color: greenyellow;
}
.meal-lunch {
  background-color: yellow;
}
.meal-dinner {
  background-color: lightblue;
}
.meal-snacks {
  background-color: orange;
}
.meal-supper {
  background-color: palevioletred;
}

.delete-item {
  display: none;
}

.item:hover > .delete-item {
  display: inline;
}