.date-picker-box {
  color: white;
  font-size: 12px;
  input {
    color: black;
  }
}

/*styling for meals*/
.meal {
  margin-bottom: 10px;
  padding: 5px;
  background: white;
  border: 1px solid rgb(238, 237, 235);
  small {
    display: block;
    margin-bottom: 5px;
    //background-color: rgb(238,237,235);
    border-bottom: 1px solid #27ae60;
  }
  .item {
    font-size: 12px;
  }
  .meal-recipe {
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
  }
  .meal-recipe, .meal-simple {
    padding: 2px 5px;
  }
}


/*.meal-breakfast {
  background-color: greenyellow;
}
.meal-lunch {
  background-color: yellow;
}
.meal-dinner {
  background-color: lightblue;
}
.meal-snacks {
  background-color: orange;
}
.meal-supper {
  background-color: palevioletred;
}*/

.edit-item, .plus-hidden {
  visibility: hidden;
}

.meal:hover > .plus-temp {
  visibility: visible !important;
}

.plus-hidden.plus-perm {
  visibility: visible !important;
}

.plus-perm {
  visibility: visible !important;
}

.item:hover > .edit-item, .ingredient:hover > .edit-item {
  visibility: visible;
}

.meal {
  .dropdown-menu {
    .dropdown-item {
      font-size: 12px;
    }
  }
}

.modal-tabbed {
  .row {
    margin-bottom: 10px;
  }
  .modal-header {
    justify-content: flex-start;
    background-color: #EEEDEB;
    border: 0;
    padding: 0 15px 0 0;
    .modal-tabs {
      display: flex;
      margin-right: 10px;
      .modal-title {
        padding: 10px;
        &.active {
          background-color: #27ae60;
          color: #ffffff;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.week-planner {
  .modal.show {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}