/*styling for meals*/
.meal {
  margin-bottom: 10px;
  padding: 5px;
  background: white;
  border: 1px solid rgb(238, 237, 235);
  small {
    display: block;
    margin-bottom: 5px;
    //background-color: rgb(238,237,235);
    border-bottom: 1px solid #27ae60;
  }
  .item {
    font-size: 12px;
  }
}
/*.meal-breakfast {
  background-color: greenyellow;
}
.meal-lunch {
  background-color: yellow;
}
.meal-dinner {
  background-color: lightblue;
}
.meal-snacks {
  background-color: orange;
}
.meal-supper {
  background-color: palevioletred;
}*/

.delete-item {
  visibility: hidden;
}

.item:hover > .delete-item {
  visibility: visible;
}