<span ng-if="item.hasIngredients" ng-dblclick="portion.copyItem('oneItem', portion)"
      data-toggle="dropdown" class="meal-recipe">
    {{ item.name }}
</span>
<div ng-if="item.hasIngredients" class="dropdown-menu" aria-labelledby="itemName" ng-include="'scripts/tmpl/ingredientDropdown.html'"></div>

<span ng-if="!item.hasIngredients" class="meal-simple" ng-dblclick="portion.copyItem('oneItem', item)">
    {{ item.name }}
</span>

<span class="edit-item">
    <i class="fa fa-times" ng-click="deleteItem(item, mealName, date)" style="visibility: visible"></i>
</span>