<div class="modal-tabbed">
    <div class="modal-header">
        <div class="modal-tabs">
            <h4 class="modal-title" ng-class="addMeal.addProduct ? 'active' : null" ng-click="addMeal.toggleMealModal()">Add products</h4>
            <h4 class="modal-title" ng-class="!addMeal.addProduct ? 'active' : null" ng-click="addMeal.toggleMealModal()">Add dish</h4>
        </div>
        <button type="button" class="close" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    <div class="modal-body" ng-show="addMeal.addProduct">
        <new-product-list init-item="addMeal.newProducts"></new-product-list>
    </div>

    <div class="modal-body" ng-show="!addMeal.addProduct">
        <new-product-list init-item="addMeal.newRecipe"></new-product-list>
    </div>
</div>