<div id="aboutUsModal" class="modal fade"  role="dialog">
    <div class="modal-dialog modal-auth">
        <div class="modal-content">
            <div class="modal-header">
                <h4>About Mealpler</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <div>
                    Mealpler is the easiest meal planning manager.
                    This app is developed to optimize a routine work of planning food.
                    I find it really useless to figure out how much gramms of rice do I need to cook the dinner.
                    I just keep in mind PORTIONS. So do this app - it allows you to concentrate on the thing that really matters - portion.
                    View source code on github: <a href="https://github.com/ditiashova/mealpler/">mealpler</a>.
                    Developed by <a href="https://github.com/ditiashova" target="_blank">@ditiashova</a>
                    with patient assistance of <a href="https://github.com/ilyadoroshenko" target="_blank">@ilyadoroshenko</a>.
                </div>
            </div>
        </div>
    </div>
</div>