<div id="aboutUsModal" class="modal fade"  role="dialog">
    <div class="modal-dialog modal-auth">
        <div class="modal-content">
            <div class="modal-header">
                <h4>About Mealpler</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <div>
                    Hello and welcome to Mealpler. It is a simple and easy to use meal planning manager. <br/>
                    My name is Inna and I've initially developed Mealpler to optimize a routine food planning.
                    I've struggled a lot with planning food for week. Unfortunately, random meal planners couldn't provide the experience I wanted.
                    That's why I've decided to make an own one to work as I expect. Hope you'll enjoy this experience too.<br/>
                    My main goal was to reduce the amount of thins you need to calculate - grams, litres etc.
                    That's because I just keep in mind PORTIONS. And so do most of people.<br/>
                    So do this app - it allows you to concentrate on the thing that really matters - portion.<br/>
                </div>
            </div>
        </div>
    </div>
</div>