<div id="contactUs" class="modal fade"  role="dialog">
    <div class="modal-dialog modal-auth">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Contact Mealpler</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <div>
                    Feel free to get in touch <a href="https://t.me/nonemo" target="_blank"><i class="fa fa-telegram"></i>nonemo</a>.<br/>
                    View source code on github: <a href="https://github.com/ditiashova/mealpler/" target="_blank"><i class="fa fa-github"></i> mealpler</a>.<br/>
                    Developed by <a href="https://github.com/ditiashova" target="_blank">@ditiashova</a>
                    with patient assistance of <a href="https://github.com/ilyadoroshenko" target="_blank">@ilyadoroshenko</a>.
                </div>
            </div>
        </div>
    </div>
</div>