<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Week Planner
            <span class="date-picker-box pull-right">
                <label>Choose a week:
                    <input data-single data-refresh-fridge data-name="datePicker" id="datePicker" class="date-picker">
                </label>
            </span>
        </div>
    </div>
    <div class="panel-subheading">
        <div class="week-switcher">
            <i class="fa fa-angle-double-left" ng-click="week.switchWeek('past', week.weekFirstDay)"></i>
            You are planning for: {{ week.weekFirstDay | monthDayth }} - {{ week.weekLastDay | monthDayth }}
            <i class="fa fa-angle-double-right" ng-click="week.switchWeek('future', week.weekLastDay)"></i>
        </div>
    </div>
    <div class="panel-body">
        <div class="row week-planner">
            <div class="col-sm day-planner" ng-repeat="date in week.weekDaysFoodInfo track by date.id" ng-class="{'today' : (date.dateObj | fullDate) === week.todayFullDate}">
                <day-manager date="date"></day-manager>
            </div>
        </div>
    </div>
</div>