<div class="panel-body" ng-controller="WeekCtrl as week">
    <table class="table">
        <thead>
            <tr>
                <th colspan="7">
                    <input name="daterange" id="daterange" title="datePicker" style="float: right;"/>
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <th ng-repeat="day in week.range track by day.id">{{ day.shortDate }}</th>
            </tr>
            <tr>
                <td ng-repeat="day in week.range track by day.id">
                    <div class="col-xs-12 meal" ng-repeat="meal in day.mealsList" ng-class="'meal-'+meal.mealName">
                        <small>{{ meal.mealName }}</small><hr/>
                        <div ng-repeat="item in meal.mealList">{{ item.name }}</div>
                        <i class="fa fa-plus" aria-hidden="true" data-toggle="modal" data-target="#mealModal" ng-click="week.day.setCurrentMeal(meal, day)"></i>
                    </div>
                    <div ng-include="'mealpler/tmpl/mealModal.html'"></div>
                </td>
            </tr>
            <!--<tr>
                <td ng-repeat="date in week.range track by date.id" ng-controller="DayCtrl as day">
                    <div ng-init="day.date = date.fullDate" ng-include="'mealpler/dashboard/week/day/day.html'"></div>
                    <div ng-include="'mealpler/tmpl/mealModal.html'"></div>
                </td>
            </tr>-->
        </tbody>
    </table>
</div>