<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            {{ main.title['weekPlanner'] }}
            <span class="date-picker-box pull-right">
                Choose a week:
                <input name="datepicker" id="datePicker" title="datePicker"/>
            </span>
        </div>
    </div>
    <div class="panel-subheading">
        <div class="week-switcher">
            <i class="fa fa-angle-double-left" ng-click="week.switchWeek('past', week.firstDay)"></i>
            You are planning for: {{ week.firstDay | monthDayth }} - {{ week.lastDay | monthDayth }}
            <i class="fa fa-angle-double-right" ng-click="week.switchWeek('future', week.lastDay)"></i>
        </div>
    </div>
    <div class="panel-body">
        <div class="row week-planner">
            <div class="col-sm day-planner" ng-repeat="date in week.range track by date.id" ng-class="{'today' : (date | fullDate) === week.today}">
                <div ng-include="'scripts/dashboard/week/day/day.html'"></div>
                <!--<div day-block></div>-->
            </div>
        </div>
    </div>
</div>