<div class="panel-body" ng-controller="WeekCtrl as week">
    <table class="table">
        <thead>
            <tr>
                <th colspan="7">
                    <input name="daterange" id="daterange" title="datePicker" style="float: right;"/>
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <th ng-repeat="day in week.range track by day.id">{{ day.shortDate }}</th>
            </tr>
            <tr>
                <td ng-repeat="day in week.range track by day.id">
                    <div  ng-repeat="meal in day.mealsList | orderBy : 'mealNo'" class="col-xs-12 meal" ng-class="'meal-'+meal.mealName">
                        <small>{{ meal.mealName }}</small><hr/>
                        <div ng-repeat="item in meal.mealList" class="item">
                            {{ item.name }} |
                            {{ item.quantity }} |
                            <span class="delete-item"><i class="fa fa-times" ng-click="week.day.deleteItem(item, day)"></i></span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-plus" data-toggle="modal" data-target="#mealModal" ng-click="week.day.setCurrentMeal(meal, day)"></i>
                        </div>
                        <i class="fa fa-trash-o pull-right" data-toggle="modal" data-target="#confirmMealDelete"
                           ng-click="week.day.setCurrentMeal(meal, day)" ng-show="meal.hasMeals"></i>
                    </div>
                    <div ng-include="'mealpler/tmpl/mealModal.html'"></div>
                    <div ng-include="'mealpler/tmpl/confirmMealDelete.html'"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>