<div class="container-fluid">
    <div class="row">
        <div class="sidebar" ng-class="{'open': dashboardCtrl.isShopListOpened}">
            <shop-list start-date="dashboardCtrl.startDate" on-change-start-date="dashboardCtrl.setStartDate"
                       range-duration="dashboardCtrl.rangeDuration" on-change-range="dashboardCtrl.setRangeDuration"></shop-list>
        </div>

        <div class="col pr-0 pl-0">
            <week-manager start-date="dashboardCtrl.startDate"
                          week-duration="dashboardCtrl.weekDuration"
                          on-switch-week="dashboardCtrl.setStartDate"></week-manager>
        </div>
    </div>
</div>