<div class="container-fluid">
    <div class="row">
        <div class="sidebar" ng-class="{'open': $ctrl.isShopListOpened}">
            <shop-list week="$ctrl.currentWeek"></shop-list> <!--range-duration="dashboardCtrl.rangeDuration" start-date="dashboardCtrl.startDate"-->
        </div>

        <div class="col pr-0 pl-0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Week Planner
                        <span class="date-picker-box pull-right">
                            <label>Choose a week:
                                <input data-name="datePicker" id="datePicker" class="date-picker btn p-0" readonly
                                       data-single="true" data-start-date="$ctrl.firstDate" data-on-update="$ctrl.refresh">
                            </label>
                        </span>
                    </div>
                </div>
                <div class="panel-subheading">
                    <div class="week-switcher">
                        <i class="fa fa-angle-double-left" ng-click="$ctrl.switchWeek('past')"></i>
                        You are planning for: {{ $ctrl.weekStartDate | monthDay }} - {{ $ctrl.weekLastDate | monthDay }}
                        <i class="fa fa-angle-double-right" ng-click="$ctrl.switchWeek('future')"></i>
                    </div>
                </div>
                <div class="panel-body" ng-if="$ctrl.currentWeek">
                    <week-manager class="row week-planner" week="$ctrl.currentWeek"></week-manager>
                </div>
            </div>
            <div ng-if="!$ctrl.currentWeek">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>