<div class="text-center day-manager">
    {{ date.dateObj | dayName }}&nbsp;
    <i class="fa fa-arrow-down" ng-click="pasteMenu(date.dateObj)" title="Paste menu"></i> <br/>
    <small>{{ date.dateObj | fullDate }}</small>
</div>

<div ng-repeat="meal in date.mealsList | orderBy : 'mealNo'" class="meal" ng-class="'meal-'+meal.mealName">
    <meal-manager food="meal" date="date"></meal-manager>
</div>

<div class="day-control">
    <span class="day-manager">
        <i class="fa fa-clone" ng-click="day.copyFood('menu', date.mealsList)" title="Copy menu"></i>
    </span>&nbsp;|&nbsp;
    <span class="day-manager">
        <i class="fa fa-arrow-right" ng-click="dashboard.grocery.addItems(date.mealsList)"
           title="Send menu to shopping list"></i>
    </span>
</div>
