<form name="itemListForm" novalidate>
    <div class="row" ng-if="initItem.type === 2">
        <div class="col-xs-12">
            <label for="recipeName">Recipe name</label>
            <input ng-model="initItem.name" placeholder="Recipe name" name="recipeName" id="recipeName" class="form-control" required="" minlength="3"  type="text"/>
            <form-validation input-name="recipeName"></form-validation>
        </div>
    </div>
    <div ng-repeat="item in initItem.components track by $index" class="row" ng-class="{'recipe-items' : initItem.components.length > 0}">
        <div class="col-xs-12 new-product-block">
            <div class="new-product">
                <span class="remove-product">
                <i class="fa fa-times" ng-click="newComponentsCtrl.removeItem($index, initItem)" title="Remove item"></i>
            </span>
                <input ng-model="item.name" placeholder="new product" name="{{ $index }}" class="form-control" required="" minlength="3" type="text"/>
            </div>
            <form-validation input-name="{{ $index }}"></form-validation>
        </div>
    </div>

    <div class="row justify-content-center">
        <i class="fa fa-plus" ng-click="newComponentsCtrl.createNew(itemListForm, initItem)"></i>
    </div>

    <button type="submit" class="btn btn-secondary pull-right" ng-click="newComponentsCtrl.save(itemListForm, initItem);"
            ng-disabled="!itemListForm.$valid && itemListForm.$submitted">Save</button>
    <button type="button" class="btn btn-default  pull-right" ng-click="newComponentsCtrl.cancel()">Close</button>
</form>