<div class="modal-tabbed" id="addMealModal">
    <div class="modal-header">
        <div class="modal-tabs">
            <h4 class="modal-title" ng-class="addMeal.addProduct ? 'active' : null" ng-click="addMeal.toggleMealModal()">Add products</h4>
            <h4 class="modal-title" ng-class="!addMeal.addProduct ? 'active' : null" ng-click="addMeal.toggleMealModal()">Add dish</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>

    <div class="modal-body" ng-show="addMeal.addProduct">
        <div ng-repeat="item in addMeal.newProducts.list track by $index" class="row">
            <div class="col-xs-12">
                <input ng-model="item.name" placeholder="Add new item" name="productName" class="form-control"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <i class="fa fa-plus" aria-hidden="true" ng-click="day.createNewProduct(day.newProducts)"></i>
        </div>
        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal"
                ng-click="day.addNewItems('list', day.currentMeal, day.currentDate, day.newProducts)">Save</button>
        <button type="button" class="btn btn-default  pull-right" data-dismiss="modal">Close</button>
    </div>

    <div class="modal-body" ng-show="!addMeal.addProduct">
        <div class="row">
            <div class="col-xs-12">
                <label for="dishName">Dish name</label>
                <input ng-model="day.newRecipe.name" placeholder="dish name" name="dishName" id="dishName" class="form-control"/>
            </div>
        </div>
        <div ng-repeat="item in addMeal.newRecipe.list track by $index" class="row">
            <div class="col-xs-12">
                <input ng-model="item.name" placeholder="1 cup of flour" name="productName" class="form-control"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <i class="fa fa-plus" ng-click="addMeal.createNewProduct(addMeal.newRecipe)"></i>
        </div>
        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal"
                ng-click="day.addNewItems('recipe', day.currentMeal, day.currentDate, day.newRecipe)">Save</button>
        <button type="button" class="btn btn-default  pull-right" data-dismiss="modal">Close</button>
    </div>
</div>