<div class="row" ng-show="initItem.hasIngredients">
    <div class="col-xs-12">
        <label for="dishName">Dish name</label>
        <input ng-model="initItem.name" placeholder="dish name" name="dishName" id="dishName" class="form-control"/>
    </div>
</div>
<div ng-repeat="item in initItem.list track by $index" class="row">
    <div class="col-xs-12">
        <input ng-model="item.name" placeholder="1 cup of flour" name="productName" class="form-control"/>
    </div>
</div>
<div class="row justify-content-center">
    <i class="fa fa-plus" ng-click="createNew(initItem)"></i>
</div>
<button type="button" class="btn btn-secondary pull-right" data-dismiss="modal"
        ng-click="save(initItem);">Save</button>

<button type="button" class="btn btn-default  pull-right" data-dismiss="modal">Close</button>
