<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div ng-show="main.userIsLogged" id="user-photo" class="pull-right"
             style="height: 50px; width: 50px; background-size: 50px; background-position: center; border-radius: 50%;"
             ng-style="{'background-image': 'url(' + main.userPhoto + ')'}"></div>
        <span ng-show="main.userIsLogged" id="user-name" class="pull-right"
             style="color: black; padding: 15px; line-height: 20px;">
             Hello, {{ main.userName }}
        </span>

        <ul class="navbar-nav mr-auto pull-right">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);">{{ main.title['mealpler'] }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" ng-click="main.toggleShopListState()">{{ main.title['shopList'] }}</a>
            </li>
            <li class="nav-item" id="login-link" ng-show="!main.userIsLogged">
                <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#authModal">
                    Login
                </a>
            </li>
            <li class="nav-item" id="logout-link" ng-show="main.userIsLogged">
                <a class="nav-link" href="javascript:void(0);" ng-click="main.signOut()">
                    Sign Out
                </a>
            </li>
        </ul>
        <a class="navbar-brand pull-right">
            <img src="images/logo_s.png"  width="32" height="32" alt="logo-image" class="d-inline-block align-top"/>
        </a>
    </div>
</nav>
<div class="container-fluid" ng-if="!main.userIsLogged">
    <div class="row">
        <div class="col text-center bg-info pb-2 pt-2">
            <p class="m-0">
                <small class="text-white">
                    For new users: please, sign in if you want to bind your locally stored data to your account. Otherwise, sign in will retrieve your data.
                </small>
            </p>
        </div>
    </div>
</div>