<nav class="navbar navbar-expand-lg navbar-light mb-0">
    <a class="navbar-brand pull-right">
        <!--<img src="images/logo_white.png"  width="32" height="32" alt="logo-image" class="d-inline-block align-top logo-image"/>-->
        Mealpler - <br/><span class="motto">easy meal planner</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto pull-right">
            <li class="nav-item">
                <a class="nav-link shoplist-icon" href="javascript:void(0);" ng-click="main.toggleShopList(true)">
                    <i class="fa fa-shopping-cart" style="font-size: 14px;"></i>
                </a>
            </li>
            <li class="nav-item" id="login-link" ng-if="!main.userIsLogged">
                <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#authModal">
                    Login
                </a>
            </li>
            <li class="nav-item" ng-if="main.userIsLogged">
                <div class="dropdown" style="cursor: pointer;">
                    <div id="user-photo" class="pull-right user-photo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                         ng-style="{'background-image': 'url(' + main.user.photo + ')'}"></div>
                    <div class="dropdown-menu dropdown-menu-right" style="top: 40px;">
                        <a class="dropdown-item" href="javascript:void(0);" ng-click="main.signOut()">Sign Out</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>