<div id="mealModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Items for the Meal({{ week.currentMeal.mealName }})</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="item in week.newMealItems.mealList track by $index" class="row">
                    <div class="col-xs-10">
                        <input ng-model="item.name" placeholder="Add new item" class="form-control"/>
                    </div>
                    <div class="col-xs-2">
                        <input ng-model="item.quantity" type="number" name="mealQuantity" class="form-control"/>
                    </div>
                </div>
                <i class="fa fa-plus" aria-hidden="true" ng-click="week.day.createNewMealItem(week.newMealItems.mealList)"></i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="week.day.saveMeal(week.currentMeal, week.currentDate, week.newMealItems)">Add</button>
            </div>
        </div>

    </div>
</div>