<div id="mealModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-tabbed">
            <div class="modal-header">
                <div class="modal-tabs">
                    <h4 class="modal-title" ng-class="week.activeTab === 'product' ? 'active' : null" ng-click="week.day.mealModal('product')">Add products</h4>
                    <h4 class="modal-title" ng-class="week.activeTab === 'dish' ? 'active' : null" ng-click="week.day.mealModal('dish')">Add dish</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>

            <div class="modal-body" ng-show="week.activeTab === 'product'">
                <div ng-repeat="item in week.newProducts.list track by $index" class="row">
                    <div class="col-xs-10">
                        <input ng-model="item.name" placeholder="Add new item" name="productName" class="form-control"/>
                    </div>
                    <div class="col-xs-2">
                        <input ng-model="item.quantity" type="number" name="mealQuantity" class="form-control"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <i class="fa fa-plus" aria-hidden="true" ng-click="week.day.createNewProduct(week.newProducts)"></i>
                </div>
                <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal"
                        ng-click="week.day.addNewItems('list', week.currentMeal, week.currentDate, week.newProducts)">Save</button>
                <button type="button" class="btn btn-default  pull-right" data-dismiss="modal">Close</button>
            </div>

            <div class="modal-body" ng-show="week.activeTab === 'dish'">
                <div class="row">
                    <div class="col-xs-10">
                        <input ng-model="week.newRecipe.name" placeholder="dish name" name="dishName" class="form-control"/>
                    </div>
                    <div class="col-xs-2">
                        <input ng-model="week.newRecipe.quantity" type="number" name="dishQuantity" class="form-control"/>
                    </div>
                </div>
                <div ng-repeat="item in week.newRecipe.list track by $index" class="row">
                    <div class="col-xs-12">
                        <input ng-model="item.name" placeholder="1 cup of flour" name="productName" class="form-control"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <i class="fa fa-plus" ng-click="week.day.createNewProduct(week.newRecipe)"></i>
                </div>
                <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal"
                        ng-click="week.day.addNewItems('recipe', week.currentMeal, week.currentDate, week.newRecipe)">Save</button>
                <button type="button" class="btn btn-default  pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>