<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ $ctrl.title }}</h2>
        <i class="fa fa-close" ng-click="$ctrl.closeShopList()"></i>
    </div>
    <div class="panel-body pt-2">
        <div ng-if="$ctrl.shoplist.length === 0">
            You haven't planned any food for this range yet.
        </div>
        <div ng-repeat="item in $ctrl.shoplist track by $index" ng-if="$ctrl.shoplist.length > 0" class="row shop-item">
            <div class="col-xs-12">
                <span>{{ item.name }}</span>
                <div class="badge badge-success">{{ item.quantity }}</div>
            </div>
        </div>
    </div>
</div>