<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ listCtrl.title }}</h2>
        <i class="fa fa-close" ng-click="listCtrl.closeShopList()"></i>
    </div>
    <div class="panel-subheading">
        <label>Choose a range of dates to display list for:
            <input class="date-picker" data-refresh-fridge="true" data-name="dateRangePicker"
                   id="dateRangePicker" title="dateRangePicker">
        </label>
    </div>
    <div class="panel-body">
        <div ng-if="listCtrl.list.length === 0">
            You haven't planned any food for this range yet.
        </div>
        <div ng-repeat="item in listCtrl.componentsList track by $index" ng-if="listCtrl.componentsList.length > 0" class="row shop-item">
            <div class="col-xs-12">
                <span>{{ item.name }}</span>
                <div class="badge badge-success">{{ item.quantity }}</div>
            </div>
        </div>
    </div>
</div>