<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ $ctrl.title }}</h2>
        <i class="fa fa-close" ng-click="$ctrl.closeShopList()"></i>
    </div>
    <div class="panel-subheading">
        <label>Choose a range of dates to display list for:
            <input class="date-picker btn btn-default p-0 ml-0" data-refresh-fridge="true" data-name="dateRangePicker"
                   id="dateRangePicker" title="dateRangePicker" readonly data-start-date="$ctrl.startDate">
        </label>
    </div>
    <div class="panel-body">
        <div ng-if="$ctrl.componentsList.length === 0">
            You haven't planned any food for this range yet.
        </div>
        <div ng-repeat="item in $ctrl.componentsList track by $index" ng-if="$ctrl.componentsList.length > 0" class="row shop-item">
            <div class="col-xs-12">
                <span>{{ item.name }}</span>
                <div class="badge badge-success">{{ item.quantity }}</div>
            </div>
        </div>
    </div>
</div>