<span class="edit-item">
    <i class="fa fa-times" ng-click="$ctrl.deleteDish($ctrl.dish, $ctrl.mealType, $ctrl.day)" title="Delete food"></i>
</span>
<span ng-if="$ctrl.dish.type === 2" data-toggle="dropdown" class="meal-recipe">
    {{ $ctrl.dish.name }}
</span>
<div ng-if="$ctrl.dish.type === 2" class="dropdown-menu" aria-labelledby="itemName"
     ng-include="'scripts/components/ingredient/dropdown.html'"></div>

<span ng-if="$ctrl.dish.type === 1" class="meal-simple" ng-dblclick="$ctrl.copySingleDish($ctrl.dish)">
    {{ $ctrl.dish.name }}
</span>