<div class="panel panel-default" ng-if="$ctrl.weekDaysFoodInfo">
    <div class="panel-heading">
        <div class="panel-title">
            Week Planner
            <span class="date-picker-box pull-right">
                <label>Choose a week:
                    <input data-single="true" data-refresh-fridge="true" data-refresh-week="true" data-name="datePicker" data-on-refresh-week="$ctrl.init"
                           id="datePicker" class="date-picker btn p-0" data-start-date="$ctrl.startDate" readonly>
                </label>
            </span>
        </div>
    </div>
    <div class="panel-subheading">
        <div class="week-switcher">
            <i class="fa fa-angle-double-left" ng-click="$ctrl.switchWeek('past')"></i>
            You are planning for: {{ $ctrl.weekStartDate.date | monthDay }} - {{ $ctrl.weekLastDay.date | monthDay }}
            <i class="fa fa-angle-double-right" ng-click="$ctrl.switchWeek('future')"></i>
        </div>
    </div>
    <div class="panel-body">
        <div class="row week-planner">
            <div class="col-sm day-planner" ng-repeat="day in $ctrl.weekDaysFoodInfo"
                 ng-class="{'today' : (day.date | fullDate) === ($ctrl.today | fullDate)}">
                <day-manager day="day"></day-manager>
            </div>
        </div>
    </div>
</div>
<div ng-if="!$ctrl.weekDaysFoodInfo">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>